body {
	background-color: lightblue;
}

h1 {
	text-align: center;
	font-size: 250%;
}

#banner_image {
	width: 400px;
	float: left;
	margin-right: 10px;
}

.banner_text {
	font-size: 150%;
	
}

#subtext {
	font-size: 250%;
	color: #510D54;
	font-weight: bold;
	text-align: center;
}

h3{
	clear: both;
}

iframe {
	display: block;
	margin: 0 auto;
}

@media only screen and (min-width: 700px){
	body{
		background-color: goldenrod;
	}
	div {
		clear: left;
	}
	img {
		float: left;		
	}
}

























